<% layout("../layout/layout") %> 
 <!-- content -->
 <section class="sm-container">
    <div class="row my-sm-5 mx-auto justify-content-center">
        <!-- sign up -->
        <div class="col-lg-4 col-sm-7 col">
            <div class="bg-primary row">
                <p class="h1 text-success text-center my-4">忘記密碼</p>
                <form id="sendEmail" method="post">
                    <div class="row px-4">
                        <div class="input-group mb-3">
                            <label for="email" class=" p-4 rounded-0 input-group-text bg-success email-input-icon"><i class="fas fa-user"></i></label>
                            <input name="email" id="email" placeholder="請輸入註冊之信箱" type="email" class="rounded-0 form-control input-style" required>
                        </div>
                        <div class="email error text-info"></div>
                    </div>
                    <!-- recaptcha -->
                    <div class="row">
                        <button 
                            type="submit" 
                            class="btn btn-info text-primary fs-4 fw-bold rounded-0 py-3" >
                            發送驗證信
                        </button>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
</section>
