<% layout("../layout/layout") %> 
 <!-- content -->
 <section class="sm-container">
    <div class="row my-sm-5 mx-auto justify-content-center">
        <!-- change password -->
        <div class="col-lg-4 col-sm-7 col">
            <div class="bg-primary row">
                <p class="h1 text-success text-center my-4">更改密碼</p>
                <form>
                    <div class="row px-4">
                        <div class="input-group mb-3">
                            <label for="passwordMd" class="p-4 rounded-0 input-group-text bg-success email-input-icon"><i class="fas fa-key"></i></label>
                            <input name="password" id="passwordMd" placeholder="請輸入新密碼" type="password" class="rounded-0 form-control input-style" required>
                        </div>
                        <div class="password error text-info"></div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-info text-primary fs-4 fw-bold rounded-0 py-3">重設密碼</button>
                    </div>
                </form> 
            </div>
    </div>
</section>