<% layout('layout/layout')%>
    <!-- banner -->
      <!-- mobile-banner -->
      <section class="d-md-none">
        <div class="bg-cover-header" style="background-image: url(https://bit.ly/2OhbMHr);height: 280px;"></div>
      </section>
      <!-- desktop-banner -->
      <section class="container">
        <div class="bg-cover-header d-none d-md-block" style="background-image: url(https://bit.ly/2OhbMHr);"></div>
        <div class="row justify-content-center">
          <div class="col img-md-menu">
            <div class="row justify-content-center flex-nowrap">
              <a class="col-4 bg-cover img-menu-square d-flex" href="">
                <h2 class="info-menu align-self-center mx-auto">本日精選</h2>
                <div class="img-menu-bg">
                  <div class="img-menu-blur" style="background-image: url(https://bit.ly/2R5tqwD);"></div>
                </div>
              </a>
              <a class="col-4 bg-cover img-menu-square d-flex" href="">
                <h2 class="info-menu align-self-center mx-auto">人氣推薦</h2>
                <div class="img-menu-bg">
                  <div class="img-menu-blur" style="background-image: url(https://bit.ly/2Dwoxd7);"></div>
                </div>

              </a>
              <a class="col-4 bg-cover img-menu-square d-flex" href="">
                <h2 class="info-menu align-self-center mx-auto ">新品上市</h2>
                <div class="img-menu-bg">
                  <div class="img-menu-blur" style="background-image: url(https://bit.ly/2OUteif);"></div>
                </div>

              </a>
            </div>
          </div>
        </div>
  
      </section>

      <!-- content -->
      <section class="d-md-none">
        <img class="mx-auto d-block my-4" src="./images/sm-橫式-為什麼選擇了做甜點.svg" style="height: 60px; width: 226px;" alt="為什麼選擇了做甜點">
        <div class="bg-cover" style="background-image: url(https://bit.ly/2xPn7Eq); height: 250px;"></div>
      </section>
      <section class="bg-success content-background">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-6 img-content-square d-none d-md-block">
              <div class="bg-cover" style="background-image: url(https://bit.ly/2xPn7Eq); height: 100%;"></div>
            </div>
            <div class="col col-md-4 d-flex justify-content-end">
              <p class="info-content d-none d-lg-block py-5">
                青山依舊在，幾度夕陽紅。慣看秋月春風。<br>一壺濁酒喜相逢，浪花淘盡英雄。是非成敗<br>轉頭空，滾滾長江東逝水，白髮漁樵江渚<br>上，古今多少事，都付笑談中。<br><br>是非成敗轉頭空，滾滾長江東逝水，白髮漁<br>樵江渚上，古今多少事，都付笑談中。
              </p>
              <p class="text-secondary d-lg-none d-lg-block my-auto p-5 p-md-0">
                青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。<br><br>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
              </p>
            </div>
            <div class="col-2 info-title d-md-block d-none" style="background-image: url(./images/lg-為什麼選擇了做甜點.svg); height: 307px; width: 89px;"></div>
          </div>
        </div>
      </section>

      <!-- why eat sweets? -->
      <section class="d-md-none">
        <img class="mx-auto d-block my-4" src="./images/sm-橫式-為什麼一定要吃甜點.svg" style="height: 60px; width: 226px;" alt="為什麼一定要吃甜點">
        <div class="bg-cover" style="background-image: url(https://bit.ly/2zzAQS4); height: 250px;"></div>
      </section>
      <section class="bg-success content-background">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col col-md-4 d-flex justify-content-end">
              <p class="info-content d-none d-lg-block py-5">
                青山依舊在，幾度夕陽紅。慣看秋月春風。<br>一壺濁酒喜相逢，浪花淘盡英雄。是非成敗<br>轉頭空，滾滾長江東逝水，白髮漁樵江渚<br>上，古今多少事，都付笑談中。<br><br>是非成敗轉頭空，滾滾長江東逝水，白髮漁<br>樵江渚上，古今多少事，都付笑談中。
              </p>
              <p class="text-secondary d-lg-none d-lg-block my-auto p-5 p-md-0">
                青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。<br><br>是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
              </p>
            </div>
            <div class="col-2 info-title d-md-block d-none" style="background-image: url(./images/lg-為什麼一定要吃甜點.svg);background-repeat: no-repeat; height: 307px; width: 89px;"></div>
            <div class="col-6 img-content-square d-none d-md-block">
              <div class="bg-cover" style="background-image: url(https://bit.ly/2zzAQS4); height: 100%;"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- quote -->
      <section class="d-md-none">
        <img class="mx-auto d-block my-4" src="./images/sm-橫式-想吃甜點是不需要理由的.svg" style="height: 60px; width: 226px;" alt="想吃甜點是不需要理由的">
      </section>
      <section class="bg-white d-none d-md-flex justify-content-center py-5 my-5">
        <img class="d-md-block d-none" src="./images/lg-想吃甜點是不需要理由的.svg" alt="想吃甜點是不需要理由的" style="height: 307px; width: 89px;">
      </section>

      <!-- product-quick-buying -->
      <section class="container my-5">
        <ul class="row p-0">
          <li class="col-lg-4 col-md-6 col-8 mx-auto">
              <div class="bg-cover position-relative" style="background-image: url(https://bit.ly/2zBjQuq); height: 315px;">
                <span class="bg-primary text-success info-label position-absolute">本日精選</span>
                <i class="far fa-heart position-absolute info-heart"></i>
              </div>
              <div class="d-flex border border-1 border-success">
                <h3 class="m-0 py-3 h5 text-center col-6 border-end border-1 border-success fw-bold">焦糖甜甜圈</h3>
                <p class="m-0 py-3 h5 fw-bold text-center col-6">$450</p>
              </div>
              <a href="" class="py-3 btn btn-success btn-hover text-primary fw-bold d-block fs-4 rounded-0">加入購物車</a>
          </li>
          <li class="col-lg-4 col-md-6 d-none d-md-block">
            <div class="bg-cover position-relative" style="background-image: url(https://bit.ly/2zBDAxX); height: 315px;">
              <span class="bg-primary text-success info-label position-absolute">本日精選</span>
              <i class="far fa-heart position-absolute info-heart"></i>
            </div>
            <div class="d-flex border border-1 border-success">
              <h3 class="m-0 py-3 h5 text-center col-6 border-end border-1 border-success fw-bold">奶油草莓派</h3>
              <p class="m-0 py-3 h5 fw-bold text-center col-6">$450</p>
            </div>
            <a href="" class="py-3 btn btn-success btn-hover text-primary fw-bold d-block fs-4 rounded-0">加入購物車</a>
        </li>
        <li class="col-lg-4 d-none d-lg-block">
          <div class="bg-cover position-relative" style="background-image: url(https://bit.ly/2QbVsVR); height: 315px;">
            <span class="bg-primary text-success info-label position-absolute">本日精選</span>
            <i class="far fa-heart position-absolute info-heart"></i>
          </div>
          <div class="d-flex border border-1 border-success">
            <h3 class="m-0 py-3 h5 text-center col-6 border-end border-1 border-success fw-bold">藍莓百香凍</h3>
            <p class="m-0 py-3 h5 fw-bold text-center col-6">$450</p>
          </div>
          <a href="" class="py-3 btn btn-success btn-hover text-primary fw-bold d-block fs-4 rounded-0">加入購物車</a>
      </li>
        </ul>
      </section>
