body{
    ul{
        margin-bottom: 0px;
    }
    a{
        text-decoration: none;
    }
    p{
        margin-bottom: 0px;
    }
}
.navbar-collapse{
    flex-grow: 0;
}

.text-hidden{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.input-style{
    border: none;
    background-color: $success;
    &:focus{
        background-color: $success;
        outline: none;
    }
}

.pagination-decoration{
    &:hover{
        background-color: $primary;
        color: $success;
    }
}