<% layout("../layout/layout") %> 
<!-- banner -->
      <!-- 手機版 banner -->
      <section class="d-md-none">
        <div class="bg-cover-header position-relative" style="background-image: url(https://bit.ly/2P7GhNd);height: 518px;">
          <div class="container position-absolute translate-middle top-50 start-50">
              <!-- 進度條 -->
              <div class="row justify-content-center mb-5">
                <div class="col-6 d-flex justify-content-between align-items-center">
                  <div><i class="fas fa-check-circle"></i></div>
                  <div class="connect-line"></div>
                  <div><i class="fas fa-check-circle"></i></div>
                  <div class="connect-line"></div>
                  <div><i class="fas fa-check-circle"></i></div>
                </div>
              </div>
              <!-- 付款成功字樣 -->
              <div class="row justify-content-center">
                <div class="col-6">
                  <img class="d-md-none" src="./images/lg-付款成功.svg" alt="付款成功" style="width: 100%;">
                </div>
              </div>
            </div>
        </div>
        <a href="/" class="btn btn-info fs-4 text-primary py-3 fw-bold rounded-0 d-block">繼續逛逛</a>
      </section>
      <!-- 電腦版 banner -->
      <section class="d-none d-md-block container g-0 g-lg-4 mb-md-5">
        <div class="bg-cover-header position-relative" style="background-image: url(https://bit.ly/2P7GhNd);height: 518px;">
          <div class="container position-absolute translate-middle top-50 start-50">
              <!-- 進度條 -->
              <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-between align-items-center">
                  <div><i class="fas fa-check-circle"></i></div>
                  <div class="connect-line"></div>
                  <div><i class="fas fa-check-circle"></i></div>
                  <div class="connect-line"></div>
                  <div><i class="fas fa-check-circle"></i></div>
                </div>
              </div>
              <!-- 付款成功字樣 -->
              <div class="row justify-content-center my-5">
                <div class="col-6 text-center">
                  <img class="" src="./images/lg-付款成功.svg" alt="付款成功" style="height: 48px;">
                </div>
                
              </div>
              <!-- 繼續逛逛按鈕 -->
              <div class="row justify-content-center">
                <div class="col-6 col-lg-4">
                  <a href="/" class="d-block btn btn-info text-primary rounded-0 py-3 fw-bold fs-4">繼續逛逛</a>
                </div>
              </div>
            </div>
        </div>
      </section>