<% layout("../layout/layout") %> 
<!-- banner -->
      <!-- mobile-banner -->
      <section class="d-md-none">
        <div class="bg-cover-header position-relative" style="background-image: url(https://bit.ly/2Qodh3Z);height: 280px;">
          <img class="position-absolute top-0 end-0 m-3" src="./images/lg-想吃甜點是不需要理由的.svg" alt="想吃甜點是不需要理由的" style="height: 220px; width: 60px;"></div>
      </section>
      <!-- desktop-banner -->
      <section class="container g-0 g-md-4">
        <div class="bg-cover-header d-none d-md-block position-relative" style="background-image: url(https://bit.ly/2Qodh3Z);">
          <img class="position-absolute top-0 end-0 m-5" src="./images/lg-想吃甜點是不需要理由的.svg" alt="想吃甜點是不需要理由的" style="height: 328px; width: 89px;">
        </div>
      </section>

      <!-- content -->
      <section class="container my-sm-5">
        <div class="row">
          <!-- categories -->
          <div class="col-lg-4 col-md-12 text-center g-0 gx-md-5">
            <p class="bg-primary fw-bold text-success h4 py-3 mb-0">甜點類別</p>
            <ul class="p-0 border border-2">
              <li class=" border-bottom border-2"><a class="d-block text-primary fw-bold h4 mb-0 py-3 product-menu-hover" href="/products?category=" value="">所有甜點（48）</a></li>
              <li class=" border-bottom border-2"><a class="d-block text-primary fw-bold h4 mb-0 py-3 product-menu-hover" href="/products?category=本日精選" value="本日精選">本日精選（10）</a></li>
              <li class=" border-bottom border-2"><a class="d-block text-primary fw-bold h4 mb-0 py-3 product-menu-hover" href="/products?category=人氣推薦" value="人氣推薦">人氣推薦（26）</a></li>
              <li><a class="d-block text-primary fw-bold h4 mb-0 py-3 product-menu-hover" href="/products?category=新品上市" value="新品上市">新品上市（12）</a></li>
            </ul>
          </div>
          <!-- main menu display -->
          <div class="col-lg-8 container my-5 my-lg-0 g-md-5">
            <ul class="row p-0 justify-content-center">
              <% products.forEach( product=>{ %> 
                <li class="col-sm-6 col-11 mb-4">
                      <div class="bg-cover position-relative" style="background-image: url('<%= product.imgUrl %>'); height: 315px;">
                        <span class="bg-primary text-success info-label position-absolute"><%= product.category %> </span>
                        <i class="far fa-heart position-absolute info-heart"></i>
                      </div>
                      <div class="d-flex border border-1 border-success">
                        <h3 class="m-0 py-3 h5 text-center col-6 border-end border-1 border-success fw-bold"><%= product.name %></h3>
                        <p class="m-0 py-3 h5 fw-bold text-center col-6">$<%= product.price %> </p>
                      </div>
                      <a href="" class="py-3 btn btn-success btn-hover text-primary fw-bold d-block fs-4 rounded-0">加入購物車</a>
                </li>
              <% }) %> 
            </ul>
            <!-- <div class="row g-0 p-0">
              <nav aria-label="page navigation">
                <ul class="pagination pagination-lg justify-content-md-end justify-content-center">
                  <li class="page-item">
                    <a class="page-link pagination-decoration" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link pagination-decoration" href="#">1</a></li>
                  <li class="page-item"><a class="page-link pagination-decoration" href="#">2</a></li>
                  <li class="page-item"><a class="page-link pagination-decoration" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link pagination-decoration" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div> -->
          </div>
        </div>
      </section>